.container
	.row
		.section-title.col-xs-12
			h2 Recent projects
		.section-body.col-xs-12
			.row
				.project.col-xs-12.col-sm-6.col-md-4
					a(href="" data-toggle='modal' data-target='#dashboard') Blablabla
						img(src="https://static.pexels.com/photos/2019/books-colorful-colourful-shop.jpg", alt="")
				#dashboard.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modal dashboard')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') &times;
								h4.modal-title Homemade e-commerce dashboard
							.modal-body
								p As an exercise and a ressource for future project, me and a friend worked on a dashboard for e-commerce administration purposes. This project involves a lot of PHP and MVC architecture, some design aspects and a couple of security tests.
								p It was also at this occasion that I started to apply some of the Scrum features in a real web project. Although Scrum is not designed for this kind of projects, some aspects of it were really useful to forecast and plan our work.
								p The core features of the dashboard are:
								ul.text-list
									li managing users, orders, brands, categories and products;
									li keeping track of the order status and keeping in touch with the customers through a mailing page.
								p This project is available on <b><a href="github"> github</a></b>.
								