.wrapper.col-xs-12
	.container
		.row
			.section-title.col-xs-12
				h2 My skills
			.section-body.col-xs-12
				#accordion.panel-group(role='tablist', aria-multiselectable='true')
					.panel.panel-default
						a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
							#headingOne.panel-heading(role='tab')
								h4.panel-title
									span.glyphicon.glyphicon-globe(aria-hidden="true")
									| Web
						#collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
							.panel-body
								.row
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/html_logo.png", alt="HTML5 logo")
											.col-xs-12.col-sm-8
												h3 HTML 5
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;")
														| 90%
												p The cornerstone technologie of the web. I am also very used to jade.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="img/css_logo.png", alt="CSS3 logo")
											.col-xs-12.col-sm-8
												h3 CSS 3
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;")
														| 80%
												p Easy to understand, hard to master. I always love to discover something new in CSS. 
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="img/js_logo.png", alt="JavaScript logo")
											.col-xs-12.col-sm-8
												h3 JavaScript
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;")
														| 70%
												p I am a complete fan of this language and I cease every opportunity I have to work with it.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="img/bootstrap_logo.png", alt="Bootstrap logo" width="100px")
											.col-xs-12.col-sm-8
												h3 Bootstrap
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;")
														| 90%
												p I love to go mobile first, and Bootstrap is the perfect tool for this job.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="img/php_logo.png", alt="PHP logo")
											.col-xs-12.col-sm-8
												h3 PHP
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;")
														| 85%
												p The server-side language I am the most experienced with.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="img/nodejs_logo.png", alt="PHP logo")
											.col-xs-12.col-sm-8
												h3 Node.js
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;")
														| 50%
												p I am learning node.js on my freetime and am amazed by it. In my opinion, this technology has a bright future.
					.panel.panel-default
						a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
							#headingTwo.panel-heading(role='tab')
								h4.panel-title
									span.glyphicon.glyphicon-wrench(aria-hidden="true")
									|  Engineering
						#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
							.panel-body
								.row
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/word_logo.png", alt="HTML5 logo")
											.col-xs-12.col-sm-8
												h3 Word
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;")
														| 95%
												p I am fully capable of writing comprehensive documents and reports, with attention to details and layout.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/excel_logo.png", alt="HTML5 logo")
											.col-xs-12.col-sm-8
												h3 Excel
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;")
														| 90%
												p I spent hundreds of hours on excel tables, diving deep into formulas and VBA code.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/autocad_logo.png", alt="HTML5 logo")
											.col-xs-12.col-sm-8
												h3 Autocad
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;")
														| 70%
												p While not a full-time designer, I have had a lot of opportunities to use Autocad, either on technical diagrams or 2D plans.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/flame_logo.png", alt="HTML5 logo")
											.col-xs-12.col-sm-8
												h3 Thermal and HVAC analysis
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;")
														| 95%
												p Able to design complex thermal system, either for dynamic heat losses calculations or thermal system sizing.
					.panel.panel-default
						a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
							#headingThree.panel-heading(role='tab')
								h4.panel-title
									span.glyphicon.glyphicon-star(aria-hidden="true")
									|  Other
						#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
							.panel-body
								.row
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/scrum_logo.png", alt="Scrum logo")
											.col-xs-12.col-sm-8
												h3 Scrum
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;")
														| 75%
												p Well informed about the SCRUM methodology, I already used some part of the concept in real projects.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/github_logo.png", alt="Github logo")
											.col-xs-12.col-sm-8
												h3 Github
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;")
														| 80%
												p I am using Github for every project I am working on. You can visit my profile <a href="http://www.github.com/dispix"><strong>here</strong></a>.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/photoshop_logo.png", alt="Phothoshop logo")
											.col-xs-12.col-sm-8
												h3 Phothoshop
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
														| 40%
												p I used to work on photos and images on photoshop and am able to use the basic functions.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/finalcut_logo.png", alt="Final Cut logo")
											.col-xs-12.col-sm-8
												h3 Final Cut
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
														| 60%
												p Video editing is a hobby and I've had many occasions to work on final cut.
									.single-skill.col-xs-12.col-md-6
										.row
											.col-xs-12.col-sm-4.text-center
												img(src="/img/ubuntu_logo.png", alt="Ubuntu logo")
											.col-xs-12.col-sm-8
												h3 Ubuntu
												.progress
													.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;")
														| 85%
												p I have already worked multiple times in this linux environment and I really appreciate this operating system.
