.wrapper.col-xs-12
	.container
		.row.vertical-align
			.section-title.col-xs-12.col-sm-6.text-center
				h1 [Web developer,
					br
					| engineer,
					br
					| tech enthousiast]
			hr.visible-xs
			.section-body.col-xs-12.col-sm-6.text-center
				p Welcome on my website. I am a web developper and an engineer with a strong passion for web technologies, hoping that my work contributes to make the world a better place. On this website you will find information about my skills, the projects I worked on and my scholar / professional background.
