.container
	.row
		.section-title.col-xs-12
			h2 Recent projects
		.section-body.col-xs-12
			.row
				.col-xs-12.col-sm-6
					.panel.panel-default
						.panel-heading
							h4 A simple forum
						.panel-body This forum was a project made entire from scratch using PHP and MySQL with the aim to learn about the fundamental features of those technologies
						.panel-footer
							button.btn.btn-primary(type='button', data-toggle='modal', data-target='#forumProject') Learn more
							a.btn.btn-default(href="http://forum.dispix.net", type='button') Project page
					#forumProject.modal.fade(tabindex='-1', role='dialog', aria-labelledby='forumProjectLabel')
						.modal-dialog(role='document')
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal', aria-label='Close')
										span(aria-hidden='true') &times;
									h4#forumProjectLabel.modal-title Modal title
								.modal-body
									| Blabla bla c'est pour mon forum
								.modal-footer
									a.btn.btn-default(href="http://forum.dispix.net", type='button') Project page
									button.btn.btn-default(type='button', data-dismiss='modal') Close